body {
  background-color: #000000; 
}
body {
  color: #ffffff; /* Темно-серый текст */
}
h1 {
  color: rgb(156, 156, 160);
}
h2 {
  color: rgb(156, 156, 160);
}
h3 {
  color: rgb(156, 156, 160);
}
